.storeHeader{
    width: 100vw;
    height: 100px;
    background-color: #ec2929;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    position: fixed;
}

.header{
    width: 75%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    width: 780px;
    height: 50px;
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: center;
}

.links a{
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    padding: 10px;
}

.links a:hover{
    text-decoration: underline;
}

.header2{
    height: 50px;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header2 img{
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}

.header2 h4{
    font-size: 22px;
    color: #fff;
}

.Menu{
    margin-top: 20px;
    /* display: flex; */
    /* justify-content: center; */
    cursor: pointer;
    position: relative;
}

.Menu .box{
    position: absolute;
    top: -3%;
    left: -1660%;
    display: none;
    background-color: #ec2929;
    border-top: none;
    width: 400px;
    height: 215px;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
}

.Menu:hover .box{
    display: block;
    padding: 10px;
    margin-top: 8px;
}

.profileStore{
    margin-top: 10px;
}

.Menu:hover .box a{
    display: flex;
    justify-content: center;
    color: #fff;
}

.boxLinksMain{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.boxLinks{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 50%;
}

.boxLinks2{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: 1px solid blue; */
}

