.headerDecoration{
    width: 100vw;
    height: 100px;
    background-color: #ec2929;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

.decorationHeader{
    display: flex;
    width: 380px;
    height: 50px;
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin-left: 12px;
}

.decorationHeader a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 200;
}

.decorationHeader a:hover{
    text-decoration: underline;
}