.sectionStyle{
    display: flex;
    justify-content: center;
    margin-top: 550px;
}

section{
    width: 80%;
    height: 100vh;
    /* border: 1px solid blue; */
    margin-top: 1450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(60, 1fr));
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.item{
    border: 2px solid #ccc;
    box-shadow: 10px 2px 10px rgba(172, 172, 172, 0.808);
    padding: 20px;
    text-align: center;
    height: 340px;
}

.item img{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.item h3{
    font-size: 16px;
    margin-bottom: 40px;
}

.item h4{
    font-size: 24px;
    font-weight: 700;
}

.item .cart{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.titleOffers{
    display: flex;
    margin-bottom: 80px;
    justify-content: center;
    font-size: 20px;
}

.cartMainn{
    display: flex;
    width: 100%;
    position: fixed;
    flex-direction: row-reverse;
}

.cartSectionn{
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 400px;
    height: 700px;
    /* border: 1px solid yellow; */
    background-color: #ffffff;
    border: 2px solid #ccc;
    box-shadow: 8px 2px 10px rgba(77, 77, 77, 0.808);
    border-radius: 10px;
    margin-right: -10px;
    position: fixed;
    align-items: center;
    overflow: auto;
    margin-top: -550px;
}

.buttonCart{
    display: flex;
    width: 83%;
    /* height: 40px; */
    /* border: 1px solid red; */
    flex-direction: row-reverse;
    margin-top: 10px;
}

.buttonCart button{
    border: none;
    cursor: pointer;
}

.cartSectionn h2{
    margin-bottom: 20px;
    margin-top: 20px;
}

.cartSectionn img{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
}

.cartSectionn p{
    font-size: 14px;
    margin-left: 10px;
}

.cartSectionn h4{
    font-size: 17px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.priceBuy{
    display: flex;
    width: 100%;
    height: 50px;
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: center;
}

.priceBuy h3{
    display: flex;
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: center;
}

.priceBuy p{
    display: flex;
    /* border: 1px solid blue; */
    justify-content: center;
    font-size: 12px;
    align-items: center;
    font-weight: bold;
    text-decoration: underline;
    color: #f00;
    cursor: pointer;
}

.cartSectionn ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.cartSectionn ul li{
    border: 2px solid #ccc;
    box-shadow: 10px 2px 10px rgba(172, 172, 172, 0.808);
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    width: 330px;;
}

.imgClose{
    display: flex;
    justify-content: space-between;
}

.imgClose button{
    border: none;
    cursor: pointer;
    margin-right: 5px;
    background-color: #cccccc00;
}

.buyy button{
    border: none;
    cursor: pointer;
    margin-top: 30px;
}